<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>LoanControlSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>UserControllerServlet</welcome-file>
    <welcome-file>userRegister.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserControllerServlet</display-name>
    <servlet-name>UserControllerServlet</servlet-name>
    <servlet-class>controllers.UserControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserControllerServlet</servlet-name>
    <url-pattern>/UserControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessControllerServlet</display-name>
    <servlet-name>AccessControllerServlet</servlet-name>
    <servlet-class>controllers.AccessControllerSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessControllerServlet</servlet-name>
    <url-pattern>/AccessControllerServlet</url-pattern>
  </servlet-mapping>
</web-app>